<mat-toolbar>
  <button mat-icon-button (click)="toggleSidebar.emit()" class="menu-btn">
    <mat-icon>menu</mat-icon>
  </button>

  @if (topbarService.title$ | async; as title) {
    <h1 class="page-title">{{ title }}</h1>
  }

  @if (topbarService.actionsTemplate$ | async; as actionsTpl) {
    <div class="toolbar-actions"><ng-container *ngTemplateOutlet="actionsTpl"></ng-container></div>
  }

  <span class="spacer"></span>

  @if (user$ | async; as user) {
    <button mat-button [matMenuTriggerFor]="userMenu" class="user-btn">
      <span class="avatar-letter">{{ userInitial(user.email) }}</span>
      <span class="user-email">{{ user.email }}</span>
      <mat-icon class="dropdown-icon">expand_more</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <a mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </a>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  }
</mat-toolbar>
