.layout-container {
  height: 100%;
}

.sidenav {
  border-right: none;
  --mat-sidenav-container-width: 240px;

  &.collapsed {
    --mat-sidenav-container-width: 56px;
  }
}

.content {
  padding: 24px 32px;
  max-width: 1200px;
  margin: 0 auto;
}
