<div class="pipeline">
  @for (block of blocks; track block.id; let i = $index) {
    @if (i > 0) {
      <div class="connector">
        <div class="connector-line"></div>
        <button class="add-btn" matTooltip="Add block" (click)="addRequested.emit(i)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    }

    <div class="block-card" [class.selected]="selectedIndex === i" (click)="select(i)">
      <div class="block-icon" [style.background]="block.color">
        <mat-icon>{{ block.icon }}</mat-icon>
      </div>
      <div class="block-info">
        <span class="block-type">{{ block.kind | titlecase }}</span>
        <span class="block-label">{{ block.label }}</span>
      </div>
      @if (block.kind !== 'trigger') {
        <button class="remove-btn" matTooltip="Remove" (click)="remove($event, i)">
          <mat-icon>close</mat-icon>
        </button>
      }
    </div>
  }

  <div class="connector">
    <div class="connector-line"></div>
    <button class="add-btn" matTooltip="Add block" (click)="addRequested.emit(blocks.length)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
